/* src/style/projectModal.module.css */

.CaseTypeModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.CaseTypeContent {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.CaseTypeTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 1rem;
  text-align: center;
}

/* ------ View modal ------ */
.viewCaseType {
  margin-top: 1rem;
}

/* .viewRow {
  display: flex;
  margin-bottom: 0.6rem;
  font-size: 15px;
  color: #000;
} */

.viewLabel {
  width: 150px;
  font-weight: bold;
}

.viewValue {
  flex: 1;
  word-break: break-word;
}

.CaseTypeBlock {
  margin-bottom: 1rem;
}

.CaseTypeTH {
  color: #000;
  font-size: 16px;
  margin-bottom: 4px;
}

.CaseTypeEN {
  color: #000;
  font-size: 15px;
  margin-bottom: 4px;
}

.CountSubCaseType {
  font-size: 14px;
  color: #000;
}

.CaseTypedDate {
  font-size: 14px;
  color: #000;
  margin-top: 8px;
}
/* ------ Box วันที่สร้าง, วันที่อัปเดตล่าสุด ------ */
.dateRow {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
}

.dateLabel {
  width: 130px;
  font-weight: bold;
  color: #000;
  font-size: 14px;
}

.dateBox {
  width: 100%;
  padding: 0.5rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #000;
  font-size: 14px;
}

/* ------ เพิ่ม / แก้ไข   ------ */
.editRow {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  grid-template-columns: 160px 1fr;
  column-gap: 10px;
  /* gap: 8px; */
}

.editLabel {
  /* width: 150px; */
  font-weight: bold;
  color: #000;
  white-space: nowrap;
}

.editInput {
  width: 100%;
  padding: 0.6rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  color: #000;
}

.editInput:disabled {
  background-color: #f5f5f5;
}

/* ------ ปุ่มบันทึก ------ */
.SaveCTButtons {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1.5rem;
}

.modalSave {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: #3dd47c;
  color: #000;
  transition: background-color 0.3s ease;
}

.modalSave:hover {
  background-color: #00a344;
}

/* ------ ปุ่มยกเลิก x ------ */
.CloseCTButtons {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e03c4c;
  color: #fff;

  font-size: 18px;
  font-weight: bold;
  position: absolute;

  top: 12px;
  right: -2px;

  border: none;
  border-radius: 0.4rem;
  cursor: pointer;

  transition: background-color 0.3s ease;
  margin-right: 1cm;
}

.CloseCTButtons:hover {
  background-color: rgb(156, 0, 0);
}

