@font-face {
  font-family: "NotoSansThai";
  src: url("../../fonts/NotoSansThai-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.homepage {
  background-color: #f0f2f5;
  min-height: 100vh;    
}

.title {
  display: flex;
  align-items: center;
    font-family: "NotoSansThai", sans-serif;
    color: black;
}

.titleLabel {
  font-size: 12px;
      color: black;
  margin-right: 16px;
}

.fontEN {
      font-family: "Inter", sans-serif;
}


.fontTH {
      font-family: "NotoSansThai", sans-serif;
}


