.navbarList{
    display: flex; 
    align-items: center;
    justify-content: space-between;

    padding: 15px 16px;
    background-color:#5930a4;

    width: 100%;       
    height: auto; 
    border-radius: 0 0 16px 16px;
    box-sizing: border-box; 
}

/* โลโก้อยู่ซ้าย */
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;
    font-weight: bold;
}

.iconlogo{
  font-size: 34px;
}

/* เมนูรวมทั้งหมด */
.navLinks {
  display: flex;
   flex-wrap: wrap;
  gap: 20px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.subsetting{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px; /* ปรับตามตำแหน่งที่ต้องการให้เมนูย่อยแสดง */
  right: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 100;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;

  white-space: nowrap;     
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 18px;
  padding: 6px 10px;
}

/*ปรับขนาด icon*/
.icon {
  margin-top: 0.3cm;
  font-size: 22px;  
  color: #ffffff;      
  transition: transform 0.2s ease;
}

/* .sunsetting-icon {
  font-size: 20px;
} */
.subSetting {
  margin: 5px 0;
  cursor: pointer;
  font-size: 18px;
  margin-right: 8px; 
}

.btnLogout {
  background-color: #f05353; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

 .btn-logout:hover {
  background-color: #8f0000; 
} 

.LogOutIcon{
  font-size: 18px;
  margin-right: 8px;
}

.navItem,
.btnLogout {
  white-space: nowrap;
}

@media (max-width: 900px) {
  .navbarList {
    flex-direction: column;
    align-items: stretch;
  }

  .navLinks {
    flex-wrap: wrap;           
    justify-content: center;
    gap: 10px;
  }

  .navItem {
    padding: 8px 12px;
    font-size: 14px;
  }

  .btnLogout {
    margin-top: 10px;
    align-self: center;
  }
}